/.github/ @RealShadowNova
/.husky/ @RealShadowNova
/.vscode/ @RealShadowNova
/docs/ @RealShadowNova
/packages/example/ @RealShadowNova
/packages/mongo/ @dan-online
/packages/json/ @RealShadowNova
/tests/ @WilsontheWolf
